body {
  background-color: #000;
  font-family: "Helvetica Neue", arial, sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #fff;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 29px 136px 21px 134px;
  background-color: rgba(0, 0, 0, 0.9);
  font-size: 14px;
}

.container {
  width: 1366px;
  margin: 0 auto;
}

.header {
  color: #fff;
  height: 611px;
  background-image: url(/img/car.png);
}

.header__block {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: -20px;
}

.header__title {
  font-size: 60px;
}

.header__text {
  font-size: 21px;
}

.header__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 14px;
  background-color: #ca0500;
  width: 166px;
  height: 48px;
  margin-top: 28px;
}

.main {
  height: 700px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-image: url(/img/articles-background.png);
}

.article {
  padding: 0 128px;
  line-height: 24px;
}

.article__title {
  font-size: 36px;
  margin-bottom: 10px;
}

.article__text {
  font-size: 15px;
}

.article__text_italic {
  font-style: italic;
  font-size: 22px;
}

.left-article {
  width: 443px;
}

.right-article {
  width: 561px;
  color: #fff;
}

.article__text_margin-top {
  margin-top: 63px;
}

.footer-nav {
  background-color: #101011;
}

.footer-nav__list {
  list-style: none;
}

.footer-nav__title {
  color: #fff;
}

.footer-nav__list-item a {
  color: #999999;
}

.footer-nav__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-right: 70px;
}

.footer-nav__sociallink {
  list-style-type: none;
}

.footer-nav__copy {
  color: #585858;
  margin-top: 25px;
}
