body {
    background-color: #000;
    font-family: "Helvetica Neue", arial, sans-serif;
    box-sizing: border-box;
}
a {
    text-decoration: none;
    color: #fff;
}
nav {
    display: flex;
    justify-content: space-between;
    padding: 29px 136px 21px 134px;
    background-color: rgba(0, 0, 0, 0.9);
    font-size: 14px;
}
.container {
    width: 1366px;
    margin: 0 auto;
}
.header {
    color: #fff;
    height: 611px;
    background-image: url(/img/car.png);
    &__block {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: -20px;
    }
    &__title {
        font-size: 60px;
    }
    &__text {
        font-size: 21px;
    }
    &__button {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 14px;
        background-color: #ca0500;
        width: 166px;
        height: 48px;
        margin-top: 28px;
    }
}
.header-nav {
    &__logo {
    }
    &__item {
    }
}
.main {
    height: 700px;
    display: flex;
    background-image: url(/img/articles-background.png);
}
.article {
    padding: 0 128px;

    line-height: 24px;
    &__title {
        font-size: 36px;
        margin-bottom: 10px;
    }
    &__text {
        font-size: 15px;
        &_italic {
            font-style: italic;
            font-size: 22px;
        }
    }
}
.left-article {
    width: 443px;
}
.right-article {
    width: 561px;
    color: #fff;
}
.article__text_margin-top {
    margin-top: 63px;
}
.footer-nav {
    background-color: #101011;
    &__item {
    }

    &__list {
        list-style: none;
    }

    &__title {
        color: #fff;
    }

    &__list-item {
        a {
            color: #999999;
        }
    }

    &__social {
        display: flex;
        justify-content: space-between;
        padding-right: 70px;
    }
    &__sociallink {
        list-style-type: none;
    }
    &__copy {
        color: #585858;
        margin-top: 25px;
    }
}
